<?xml version="1.0"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find amigo_robot_model)/robot.urdf.xacro' " />

    <rosparam command="load" ns="robot_description_planning" file="$(find amigo_arm_navigation)/config/amigo_planning_description.yaml"/>

    <arg if="$(optenv ROBOT_REAL false)" name="machine" value="amigo3"/>
    <arg unless="$(optenv ROBOT_REAL false)" name="machine" value="localhost"/> 

    <include file="$(find amigo_arm_navigation)/launch/joint_trajectory_action.launch">
	<arg name="machine" value="$(arg machine)" />
    </include>

    <include file="$(find amigo_arm_navigation)/launch/environment_server.launch">
  	<arg name="machine" value="$(arg machine)" />
        <arg name="use_monitor" value="true" />
        <arg name="use_collision_map" value="false" />
    </include>

    <include file="$(find amigo_arm_navigation)/launch/constraint_aware_kinematics.launch" >
	<arg name="machine" value="$(arg machine)" />
    </include>

    <include file="$(find amigo_arm_navigation)/launch/ompl_planning.launch" >
	<arg name="machine" value="$(arg machine)" />
    </include>

    <include file="$(find amigo_arm_navigation)/launch/trajectory_filter_server.launch" >
	<arg name="machine" value="$(arg machine)" />
    </include>

    <include file="$(find amigo_arm_navigation)/launch/move_left_arm.launch" >
	<arg name="machine" value="$(arg machine)" />
    </include>

    <include file="$(find amigo_arm_navigation)/launch/move_right_arm.launch" >
	<arg name="machine" value="$(arg machine)" />
    </include>
    
    <!--<include file="$(find amigo_arm_navigation)/launch/grasp_precompute_action.launch" >
	<arg name="machine" value="$(arg machine)" />
    </include>-->

    <!--<include file="$(find amigo_arm_navigation)/launch/collision_monitor.launch" >
	<arg name="machine" value="$(arg machine)" />
    </include>-->

</launch>
