<launch>

  <include file="$(find amigo_arm_navigation_perception)/launch/laser-perception.launch"/> <!--done-->
  
  <include file="$(find amigo_arm_navigation_planning)/launch/ompl_planning.launch"/> <!--done-->

  <include file="$(find amigo_arm_navigation_actions)/launch/environment_server_right_arm.launch"/> <!--done-->
  
  <include file="$(find amigo_arm_navigation_actions)/launch/move_right_arm.launch"/> <!--done-->

  <include file="$(find amigo_arm_navigation_kinematics)/launch/right_arm_collision_free_ik.launch"/>

  <include file="$(find amigo_arm_navigation_objects)/launch/display_planner_collision_model.launch"/>



  <include file="$(find amigo_joint_trajectory_action)/start.launch"/> <!--done-->

  <!--<include file="$(find amigo_arm_navigation_filtering)/launch/trajectory_filter.launch"/> -->
  <include file="$(find amigo_trajectory_filter)/start.launch"/> <!--done-->
  
  <include file="$(find amigo_joint_trajectory_publisher)/start.launch"/> <!--done-->
  


</launch>
