<launch>
  <!-- start office world with table and cup-->
 <!-- <param name="/use_sim_time" value="false"/>-->
  <include file="$(find gazebo_worlds)/launch/office_world.launch"/>


 <!-- send object urdf to param server -->

  <param name="object_description" command="$(find xacro)/xacro.py $(find amigo_kinematics_constraint_aware)/object.urdf" />
  <node name="spawn_object" pkg="gazebo_tools" type="gazebo_model" args="-p object_description -x -4.69 -y 2.65 -z 0.8  -R 0 -P 0 -Y 0 spawn object_description" respawn="false" output="screen" />



  <!-- start controller manager (rviz) -->
  <include file="$(find pr2_controller_manager)/controller_manager.launch"/>

  <include file="$(find amigo_controllers)/controllers.launch"/>

  <!-- load robot -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find amigo_simulation_model)/robot.urdf.xacro' " />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_single_link" pkg="gazebo_tools" type="gazebo_model" args="-p robot_description spawn  -x -3 -y 2.3 -z 0.1 -Y 1.57" respawn="false" />

</launch>

