<launch>
  <!-- start office world with table and cup-->
 <!-- <param name="/use_sim_time" value="false"/>-->
  <include file="$(find gazebo_worlds)/launch/office_world.launch"/>


  <!-- send table urdf to param server -->
  <param name="table_description" command="$(find xacro)/xacro.py $(find gazebo_worlds)/objects/table.urdf.xacro" />
    <!-- push table_description to factory and spawn robot in gazebo -->
  <node name="spawn_table" pkg="gazebo" type="spawn_model" args="-urdf -param table_description -z 0.01 -x -3.7 -y 3.28 -model table_model" respawn="false" output="screen" />

 <!-- send urdf to param server -->
  <param name="coffee_cup" textfile="$(find gazebo_worlds)/objects/coffee_cup.model" />

  <!-- push urdf to factory and spawn robot in gazebo -->
<node name="spawn_coffee_cup3" pkg="gazebo_tools" type="gazebo_model" args="-p coffee_cup -x -3.05 -y 2.8 -z .57  -R 0 -P 0 -Y 0 spawn coffee_cup3" respawn="false" output="screen" />

  <node name="spawn_coffee_cup1" pkg="gazebo_tools" type="gazebo_model" args="-p coffee_cup -x -2.7 -y 2.8 -z .57  -R 0 -P 0 -Y 0 spawn coffee_cup1" respawn="false" output="screen" />

  <node name="spawn_coffee_cup2" pkg="gazebo_tools" type="gazebo_model" args="-p coffee_cup -x -2.35 -y 2.8 -z .57  -R 0 -P 0 -Y 0 spawn coffee_cup2" respawn="false" output="screen" />

  











  <!-- start controller manager (rviz) -->
  <include file="$(find pr2_controller_manager)/controller_manager.launch"/>

  <include file="$(find amigo_simulation_controllers)/controllers.launch"/>

  <!-- load robot -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find amigo_robot_model)/robot.urdf.xacro' " />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_single_link" pkg="gazebo_tools" type="gazebo_model" args="-p robot_description spawn  -x -3 -y 2.3 -z 0.1 -Y 1.57" respawn="false" />

</launch>

