<?xml version="1.0"?>
<launch>
    <!-- Required simulation parameter -->
    <param name="/use_sim_time" value="true"/>
  
    <!-- start empty world-->
    <node name="gazebo" pkg="gazebo" type="gazebo" args="$(find gazebo_worlds)/worlds/empty.world" respawn="false" output="screen"/>

    <!-- start controller manager (rviz) -->
    <include file="$(find pr2_controller_manager)/controller_manager.launch"/>
    <include file="$(find amigo_simulation_controllers)/controllers.launch"/>

    <!-- load robot -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find amigo_robot_model)/robot.urdf.xacro' " />

    <!-- load arm planning config file -->
    <rosparam command="load" ns="robot_description_planning" file="$(find amigo_arm_navigation)/config/amigo_planning_description.yaml" />

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_amigo" pkg="gazebo" type="spawn_model" args=" -unpause -urdf -param robot_description -model amigo -z 0.1" respawn="false" output="screen" />

</launch>
