<launch>
 
  <include file="$(find amigo_arm_navigation)/launch/amigo_planning_environment.launch"/> 
  
    <!-- load move_arm -->
  <include file="$(find amigo_arm_navigation)/launch/move_left_arm.launch"/> 
  <include file="$(find amigo_arm_navigation)/launch/move_right_arm.launch"/>
 
  <!-- load r_joint_trajecory_action and publisher actionlib -->
  <include file="$(find amigo_arm_navigation)/launch/joint_trajectory_action_start_right.launch"/>
  <include file="$(find amigo_arm_navigation)/launch/joint_trajectory_publisher_start_right.launch"/>
   
  <!-- load l_joint_trajecory_action and publisher actionlib -->
  <include file="$(find amigo_arm_navigation)/launch/joint_trajectory_action_start_left.launch"/>
  <include file="$(find amigo_arm_navigation)/launch/joint_trajectory_publisher_start_left.launch"/>  


  <include file="$(find planning_environment)/launch/environment_server.launch">
   <arg name="use_monitor" value="true" />
    <arg name="use_collision_map" value="true" />
  </include> 

  <!-- load planning -->
  <include file="$(find amigo_arm_navigation)/launch/ompl_planning.launch" />

  <!-- load ik -->
 <include file="$(find amigo_arm_navigation)/launch/constraint_aware_kinematics.launch" />
 
   <!-- load filters -->
 <include file="$(find amigo_arm_navigation)/launch/trajectory_filter_server.launch" />

  <!-- Collision map -->
  <node name="collision_map_self_occ_node" pkg="collision_map" type="collision_map_self_occ_node" output="screen"/>

  <!-- Full collider node -->
  <node pkg="collider" type="collider_node" name="collider_node" respawn="true" output="screen">
     <param name="fixed_frame" type="string" value="base_link" />
     <param name="resolution" type="double" value="0.025" />
     <param name="max_range" type="double" value="2.5" />
     <param name="publish_static_over_dynamic_map" value="true" />
     <param name="sensor_model_hit" value= "0.8" />
     <param name="sensor_model_miss" value= "0.31" />
     <param name="sensor_model_min" value= "0.12" />
     <param name="sensor_model_max" value= "0.95" />   

     <remap from="collision_map_out" to="collision_map_occ" />
     <remap from="point_cloud_out" to="octomap_point_cloud" />

     <!--<rosparam command="load" file="$(find pr2_arm_navigation_perception)/config/collision_map_sources.yaml"/> -->

     <rosparam command="load" file="$(find amigo_arm_navigation)/config/collision_map_sources.yaml" />
   </node>

</launch>
