<?xml version="1.0"?>
<launch>
  <include file="$(find amigo_machine_files)/machines/amigo1.machine" />
  <include file="$(find amigo_machine_files)/machines/amigo2.machine" />
  <include file="$(find amigo_machine_files)/machines/amigo3.machine" />
  <include file="$(find amigo_machine_files)/machines/amigo4.machine" />
  <include file="$(find amigo_machine_files)/machines/localhost.machine" />

  <arg name="machine" default="localhost"/>
  
  <node pkg="collider" type="collider_node" name="collider_node" respawn="true" output="screen" machine="$(arg machine)" ns="amigo">
     <param name="fixed_frame" type="string" value="/map" />
     <param name="resolution" type="double" value="0.025" />
     <param name="max_range" type="double" value="2.0" />
     <param name="publish_static_over_dynamic_map" value="true" />
     <param name="sensor_model_hit" value= "0.8" />
     <param name="sensor_model_miss" value= "0.31" />
     <param name="sensor_model_min" value= "0.12" />
     <param name="sensor_model_max" value= "0.95" />   

     <remap from="collision_map_out" to="collision_map_occ" />
     <remap from="point_cloud_out" to="octomap_point_cloud" />

     <rosparam command="load" file="$(find amigo_arm_navigation)/config/collision_map_sources.yaml" />
     <rosparam command="load" file="$(find amigo_self_filter)/parameters/self_filter.yaml" />

     <param name="tf_prefix" value="amigo"/>
   </node>
</launch>
