<launch>
    <include file="$(find amigo_arm_navigation)/launch/move_l_end_effector.launch" />
    <include file="$(find amigo_arm_navigation)/launch/move_left_arm.launch" />
    <include file="$(find amigo_arm_navigation)/launch/move_r_end_effector.launch" />
    <include file="$(find amigo_arm_navigation)/launch/move_right_arm.launch" />
</launch>
