<?xml version="1.0"?>
<launch>
    <include file="$(find amigo_machine_files)/machines/amigo1.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo2.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo3.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo4.machine" />
    <include file="$(find amigo_machine_files)/machines/localhost.machine" />

    <arg name="machine" default="localhost"/>

    <node pkg="ompl_ros_interface" type="ompl_ros" name="ompl_planning" machine="$(arg machine)">
        <param name="default_planner_config" type="string" value="SBLkConfig1" />
        <rosparam command="load" file="$(find amigo_arm_navigation)/config/ompl_planning.yaml" />
    </node>

</launch>
